@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
padding: 0;
margin: 0;
}

main {
    background-color: rgb(26, 26, 26);
    height: 100vh;
    overflow: hidden;
}

Box{
    width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  border: none; /* Default for mobile view */
 
}