.activeLink {
    font-weight: bold;
    color: darkgreen;
  }

  .active-link {
    font-weight: bold;
    color: darkgreen;
    border-bottom: 2px solid darkgreen;
    border-radius: 10px 10px 0 0;
    padding-bottom: 8px;
    font-size: 18px;
  }
  
  .inactive-link {
    color: black;
    border-radius: 10px 10px 0 0;
    padding-bottom: 8px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding: 10px;
  }
  
  .emoji {
    font-size: 1.5em;
    margin-right: 5px;
  }

  /* Add styles for our custom form components */
  .form-control {
    margin-bottom: 1rem;
    width: 100%;
  }

  .form-label {
    display: block;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }